daphne==2.3.0
cython==0.29.14
gunicorn==20.1.0
Twisted[tls,http2]==21.7.0
lxml==4.9.1
cryptography==37.0.2
asgiref==3.3.4
cffi==1.15.0
autobahn==20.12.3
pyasn1==0.4.3
pyasn1-modules==0.2.1
pycparser==2.18
pyOpenSSL==18.0.0
service-identity==21.1.0
six==1.14.0
txaio==20.4.1
zope.interface==5.1.0
psycopg2-binary==2.9.3
httptools==0.1.1
